.main-textarea {
	width: 90%;
		max-width: 100vw;
		min-height: 100%;
	/* padding: 2vh 4vw; */
	font-size: 16vw;
		font-weight: bold;
		line-height: 14vw;
	outline: none;
		resize: none;
		border: none;
		overflow: auto;
}

.main-textarea::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}