.main-textarea {
	width: 100%;
		max-width: 100vw;
		min-height: 90%;
	padding: 2vh 2vw;
	font-size: 16vw;
		font-weight: bold;
		line-height: 14vw;
	outline: none;
		resize: none;
		border: none;
		overflow: auto;

	transition: all .1s ease-in-out;
}

.main-textarea::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}